GermanPersonnel/PersyCandidateSchema/FullBuild/org_hr-xml/3_2_1/Developer/Nouns/ScreeningReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
The notices below are provided with respect to licensed content incorporated herein:
Copyright HR-XML Consortium. All Rights Reserved. http://www.hrxmlconsortium.org and http://www.hr-xml.org. Terms of license can be found in license.txt.
Copyright (c) 1997-2011 Open Applications Group, Inc. All Rights Reserved.  http://www.openapplications.org
-->
<xsd:schema xmlns:oa="http://www.openapplications.org/oagis/9" xmlns="http://www.hr-xml.org/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" targetNamespace="http://www.hr-xml.org/3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation> 
       Name: ScreeningReport.xsd 
       Status:  3.2.1 Release
       Date this version: 2013-Jan-28 
       </xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../org_openapplications_platform/1_2/Common/OAGi/Components/Components.xsd"/>
	<xsd:include schemaLocation="../Common/Components.xsd"/>
	<xsd:include schemaLocation="../nouns/CreditResult.xsd"/>
	<xsd:element name="ScreeningReport" type="ScreeningReportType"/>
	<xsd:complexType name="ScreeningReportType">
		<xsd:annotation>
			<xsd:documentation source="http://www.hr-xml.org" xml:lang="en">
				<ccts:DictionaryEntryName>Screening Report. Details</ccts:DictionaryEntryName>
				<ccts:DefinitionText>Contains a set of data fulfilling or relating to an employment screening order.</ccts:DefinitionText>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="DocumentIDGroup" minOccurs="0"/>
			<xsd:element ref="DocumentSequence" minOccurs="0"/>
			<xsd:element ref="CustomerParty" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="SupplierParty" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RequesterParty" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ScreeningPackageResult" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="EffectiveDateAttributeGroup"/>
		<xsd:attributeGroup ref="VersionIDAttributeGroup"/>
	</xsd:complexType>
	<xsd:element name="ScreeningPackageResult" type="ScreeningPackageResultType"/>
	<xsd:complexType name="ScreeningPackageResultType">
		<xsd:sequence>
			<xsd:element ref="ScreeningID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PackageID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="OrderReceivedDate" minOccurs="0"/>
			<xsd:element ref="StatusDateTime" minOccurs="0"/>
			<xsd:element ref="OrderCompletedDate" minOccurs="0"/>
			<xsd:element ref="PartyReportingIDs" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ScreeningUser" minOccurs="0"/>
			<xsd:element ref="ScreeningSubjectCopyIndicator" minOccurs="0"/>
			<xsd:element ref="ScreeningSubject" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ScreeningResultTypeCode" minOccurs="0"/>
			<xsd:element ref="ScreeningOrderStatusCode" minOccurs="0"/>
			<xsd:element ref="ScreeningOrderInstructionCode" minOccurs="0"/>
			<xsd:element ref="ScreeningResultCode" minOccurs="0"/>
			<xsd:element ref="Score" minOccurs="0"/>
			<xsd:element ref="oa:Description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AccessPoint" minOccurs="0"/>
			<xsd:element ref="PackageCost" minOccurs="0"/>
			<xsd:element ref="OrderHistory" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="LegalNotice" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ScreeningResult" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Attachment" minOccurs="0"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ScreeningResult" type="ScreeningResultType"/>
	<xsd:complexType name="ScreeningResultType">
		<xsd:annotation>
			<xsd:documentation>Generally, one ScreeningResult per screening search type. However, in some cases, a screening result may be a summary result that rolls up results for several screening searches (e.g., multiple criminal searches, State, Federal, etc.). </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ScreeningID" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
Intended to accomodate multiple ID schemes from multiple partners. 
The ID value might typically be an ID that explicitly is tied to the screening subject or some type of "synthetic" or temporary ID that exists for the purposes of managing the order, which also could be tied back to the search subject by an authorized trading partner.			
Examples:
           ID agencyRoleCode="Customer" schemeID="CandidateID" schemeAgencyID="Acme Corp"
           ID agencyRoleCode="Requester" schemeID="ApplicantID" schemeAgencyID="ATS Company, Inc."
           ID agencyRoleCode="Supplier" schemeID="Screening Management ID" schemeAgencyID="ScreeningCo.com"			
			</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PartyReportingIDs" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ScreeningStatus" minOccurs="0"/>
			<xsd:element ref="AccessPoint" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ScreeningCost" minOccurs="0"/>
			<xsd:element ref="PersonContact" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="LegalNotice" minOccurs="0"/>
			<xsd:element ref="ScreeningSearchTypeCode" minOccurs="0"/>
			<xsd:element ref="AdditionalScreeningIndicator" minOccurs="0"/>
			<xsd:element ref="Attachment" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AbuseReport" minOccurs="0"/>
			<xsd:element ref="AlcoholScreeningReport" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This component has been deprecated.  Use DrugAlcoholReport instead. 12/2012</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CreditReport" minOccurs="0"/>
			<xsd:element ref="CriminalReport" minOccurs="0"/>
			<xsd:element ref="DrugScreeningReport" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This component has been deprecated.  Use DrugAlcoholReport instead. 12/2012</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DrugAlcoholReport" minOccurs="0"/>
			<xsd:element ref="EducationVerificationReport" minOccurs="0"/>
			<xsd:element ref="EmploymentVerificationReport" minOccurs="0"/>
			<xsd:element ref="MilitaryVerificationReport" minOccurs="0"/>
			<xsd:element ref="MotorVehicleReport" minOccurs="0"/>
			<xsd:element ref="OtherReport" minOccurs="0"/>
			<xsd:element ref="ProfessionalLicenseReport" minOccurs="0"/>
			<xsd:element ref="ReferenceVerificationReport" minOccurs="0"/>
			<xsd:element ref="SanctionReport" minOccurs="0"/>
			<xsd:element ref="SkillsAssessmentReport" minOccurs="0"/>
			<xsd:element ref="WorkersCompensationReport" minOccurs="0"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AlcoholScreeningReport" type="AlcoholScreeningReportType"/>
	<xsd:complexType name="AlcoholScreeningReportType">
		<xsd:sequence>
			<xsd:element ref="ScreeningSubjectID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ScreeningID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Specimen" minOccurs="0"/>
			<xsd:element ref="ScreeningCustomer" minOccurs="0"/>
			<xsd:element ref="SpecimenDonor" minOccurs="0"/>
			<xsd:element ref="SpecimenCollectionSite" minOccurs="0"/>
			<xsd:element ref="SpecimenCollector" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CreditReport" type="CreditReportType"/>
	<xsd:complexType name="CreditReportType">
		<xsd:complexContent>
			<xsd:extension base="CreditResultType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AbuseReport" type="AbuseReportType"/>
	<xsd:complexType name="AbuseReportType">
		<xsd:sequence>
			<xsd:element ref="ScreeningSubjectID" minOccurs="0"/>
			<xsd:element ref="SearchAbuseTypeCode" minOccurs="0"/>
			<xsd:element ref="CriminalCase" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CriminalReport" type="CriminalReportType"/>
	<xsd:complexType name="CriminalReportType">
		<xsd:sequence>
			<xsd:element ref="ScreeningSubjectID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="SearchCriminalTypeCode" minOccurs="0"/>
			<xsd:element ref="CriminalCase" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DrugScreeningReport" type="DrugScreeningReportType"/>
	<xsd:complexType name="DrugScreeningReportType">
		<xsd:sequence>
			<xsd:element ref="ScreeningSubjectID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ScreeningID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ScreeningCustomer" minOccurs="0"/>
			<xsd:element ref="DrugTestReasonCode" minOccurs="0"/>
			<xsd:element ref="DrugTestPanel" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="SpecimenCollectionSite" minOccurs="0"/>
			<xsd:element ref="Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="SpecimenDonor" minOccurs="0"/>
			<xsd:element ref="MedicalReviewOfficer" minOccurs="0"/>
			<xsd:element ref="Laboratory" minOccurs="0"/>
			<xsd:element ref="LaboratoryReport" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="MedicalReviewOfficerCertification" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MilitaryVerificationReport" type="MilitaryVerificationReportType"/>
	<xsd:complexType name="MilitaryVerificationReportType">
		<xsd:sequence>
			<xsd:element ref="ScreeningSubjectID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="InputMilitaryVerification" minOccurs="0"/>
			<xsd:element ref="MilitaryServiceVerification" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MotorVehicleReport" type="MotorVehicleReportType"/>
	<xsd:complexType name="MotorVehicleReportType">
		<xsd:sequence>
			<xsd:element ref="ScreeningSubjectID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="InputLicense" minOccurs="0"/>
			<xsd:element ref="MotorVehicleSearchResult" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="SubjectConfirmationMethodCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="MotorVehicleViolation" minOccurs="0"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="OtherReport" type="OtherReportType"/>
	<xsd:complexType name="OtherReportType">
		<xsd:sequence>
			<xsd:element ref="ScreeningSubjectID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ScreeningTypeCode" minOccurs="0"/>
			<xsd:element ref="SubjectIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="License" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PositionCompetency" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PersonCompetency" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="RemunerationRange" minOccurs="0"/>
			<xsd:element ref="QuestionAnswerPair" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SanctionReport" type="SanctionReportType"/>
	<xsd:complexType name="SanctionReportType">
		<xsd:sequence>
			<xsd:element ref="ScreeningSubjectID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="SanctionTypeCode" minOccurs="0"/>
			<xsd:element ref="SanctionLevelCode" minOccurs="0"/>
			<xsd:element ref="InputLicense" minOccurs="0"/>
			<xsd:element ref="Sanction" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="QuestionAnswerPair" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SkillsAssessmentReport" type="SkillsAssessmentReportType"/>
	<xsd:complexType name="SkillsAssessmentReportType">
		<xsd:sequence>
			<xsd:element ref="ScreeningSubjectID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AssessmentOverallResult" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="QuestionAnswerPair" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UserArea" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ProfessionalLicenseReport" type="ProfessionalLicenseReportType"/>
	<xsd:complexType name="ProfessionalLicenseReportType">
		<xsd:sequence>
			<xsd:element ref="ScreeningSubjectID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="InputLicense" minOccurs="0"/>
			<xsd:element ref="ProfessionalLicenseResult" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="EmploymentVerificationReport" type="EmploymentVerificationReportType"/>
	<xsd:complexType name="EmploymentVerificationReportType">
		<xsd:sequence>
			<xsd:element ref="ScreeningSubjectID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="SearchEmploymentTypeCode" minOccurs="0"/>
			<xsd:element ref="InputEmploymentHistory" minOccurs="0"/>
			<xsd:element ref="EmploymentHistoryResult" minOccurs="0"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="WorkersCompensationReport" type="WorkersCompensationReportType"/>
	<xsd:complexType name="WorkersCompensationReportType">
		<xsd:sequence>
			<xsd:element ref="ScreeningSubjectID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="CompensationClaim" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="QuestionAnswerPair" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MotorVehicleSearchResult" type="MotorVehicleSearchResultType"/>
	<xsd:element name="MotorVehicleViolation" type="MotorVehicleViolationType"/>
	<xsd:complexType name="MotorVehicleViolationType">
		<xsd:sequence>
			<xsd:element ref="ViolationDispositionCode" minOccurs="0"/>
			<xsd:element ref="ViolationDate" minOccurs="0"/>
			<xsd:element ref="ViolationTypeCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ViolationVehicleCode" minOccurs="0"/>
			<xsd:element ref="oa:Description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ConvictionDate" minOccurs="0"/>
			<xsd:element ref="ViolationPoints" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="LocationDescription" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AgencyViolationReport" minOccurs="0"/>
			<xsd:element ref="CourtName" minOccurs="0"/>
			<xsd:element ref="HazardousMaterialsViolationIndicator" minOccurs="0"/>
			<xsd:element ref="PersonalInjuryIndicator" minOccurs="0"/>
			<xsd:element ref="PropertyDamageIndicator" minOccurs="0"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompensationClaimType">
		<xsd:sequence>
			<xsd:element ref="ClaimNumberID" minOccurs="0"/>
			<xsd:element ref="ClaimStatusCode" minOccurs="0"/>
			<xsd:element ref="EmployerName" minOccurs="0"/>
			<xsd:element ref="ClaimDate" minOccurs="0"/>
			<xsd:element ref="InjuryDate" minOccurs="0"/>
			<xsd:element ref="WorkersCompensationTypeCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="InjuryTypeCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="InjuryDescription" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CompensationClaim" type="CompensationClaimType"/>
	<xsd:complexType name="ProfessionalLicenseResultType">
		<xsd:sequence>
			<xsd:element ref="License" minOccurs="0"/>
			<xsd:element ref="DisciplinaryAction" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="LicenseQualificationCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="LicenseRestrictionCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="QuestionAnswerPair" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Comment" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AdditionalItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ProfessionalLicenseResult" type="ProfessionalLicenseResultType"/>
	<xsd:element name="PersonalInjuryIndicator" type="oa:IndicatorType"/>
	<xsd:element name="PropertyDamageIndicator" type="oa:IndicatorType"/>
</xsd:schema>
