GermanPersonnel/PersyCandidateSchema/FullBuild/org_hr-xml/3_2_1/WebServices/WSDL/PositionOpening.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:hrx="http://www.hr-xml.org/3" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:tns="http://www.hr-xml.org/3/ws" targetNamespace="http://www.hr-xml.org/3/ws" name="PositionOpening">
<documentation>
Copyright HR-XML Consortium. All Rights Reserved. http://www.hrxmlconsortium.org and http://www.hr-xml.org. Terms of license can be found in license.txt.

This "noun-specific" WSDL has been autogenerated applying a sub-set of the OAGIS verbs against the draft nouns within the HR-XML library.

Your paths may be different and need adjusting.  This was generated relative to the entire HR-XML library.  If included in a stand alone package, paths and edits will be necessary.  However, the patterns and practices are intact and recommended.

Developers may find this useful in designing their own WSDL in cut and paste fashion.

</documentation>
<wsdl:types>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.hr-xml.org/3">
<xsd:include schemaLocation="../../Developer/BODs/CancelPositionOpening.xsd"/>
<xsd:include schemaLocation="../../Developer/BODs/ChangePositionOpening.xsd"/>
<xsd:include schemaLocation="../../Developer/BODs/ProcessPositionOpening.xsd"/>
<xsd:include schemaLocation="../../Developer/BODs/NotifyPositionOpening.xsd"/>
<xsd:include schemaLocation="../../Developer/BODs/GetPositionOpening.xsd"/>
<xsd:include schemaLocation="../../Developer/BODs/AcknowledgePositionOpening.xsd"/>
<xsd:include schemaLocation="../../Developer/BODs/ShowPositionOpening.xsd"/>
<xsd:include schemaLocation="../../Developer/BODs/RespondPositionOpening.xsd"/>
<xsd:include schemaLocation="../../Developer/BODs/SyncPositionOpening.xsd"/>

<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../../../org_openapplications_platform/1_2/BODs/ConfirmBOD.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="CancelPositionOpening">
<wsdl:part name="Message" element="hrx:CancelPositionOpening"/>
</wsdl:message>
<wsdl:message name="ChangePositionOpening">
<wsdl:part name="Message" element="hrx:ChangePositionOpening"/>
</wsdl:message>
<wsdl:message name="ProcessPositionOpening">
<wsdl:part name="Message" element="hrx:ProcessPositionOpening"/>
</wsdl:message>
<wsdl:message name="NotifyPositionOpening">
<wsdl:part name="Message" element="hrx:NotifyPositionOpening"/>
</wsdl:message>
<wsdl:message name="GetPositionOpening">
<wsdl:part name="Message" element="hrx:GetPositionOpening"/>
</wsdl:message>
<wsdl:message name="AcknowledgePositionOpening">
<wsdl:part name="Message" element="hrx:AcknowledgePositionOpening"/>
</wsdl:message>
<wsdl:message name="ShowPositionOpening">
<wsdl:part name="Message" element="hrx:ShowPositionOpening"/>
</wsdl:message>
<wsdl:message name="RespondPositionOpening">
<wsdl:part name="Message" element="hrx:RespondPositionOpening"/>
</wsdl:message>
<wsdl:message name="SyncPositionOpening">
<wsdl:part name="Message" element="hrx:SyncPositionOpening"/>
</wsdl:message>
<wsdl:message name="ConfirmBOD">
<wsdl:part name="Message" element="oa:ConfirmBOD"/>
</wsdl:message>
<wsdl:portType name="PositionOpening_PortType">
<wsdl:operation name="ProcessPositionOpening">
<wsdl:input message="tns:ProcessPositionOpening"/>
<wsdl:output message="tns:AcknowledgePositionOpening"/>
<wsdl:fault name="ProcessPositionOpeningFault" message="tns:ConfirmBOD"/>
</wsdl:operation>
<wsdl:operation name="CancelPositionOpening">
<wsdl:input message="tns:CancelPositionOpening"/>
<wsdl:output message="tns:AcknowledgePositionOpening"/>
<wsdl:fault name="CancelPositionOpeningFault" message="tns:ConfirmBOD"/>
</wsdl:operation>
<wsdl:operation name="GetPositionOpening">
<wsdl:input message="tns:GetPositionOpening"/>
<wsdl:output message="tns:ShowPositionOpening"/>
<wsdl:fault name="GetPositionOpeningFault" message="tns:ConfirmBOD"/>
</wsdl:operation>
<wsdl:operation name="ChangePositionOpening">
<wsdl:input message="tns:ChangePositionOpening"/>
<wsdl:output message="tns:AcknowledgePositionOpening"/>
<wsdl:fault name="ChangePositionOpeningFault" message="tns:ConfirmBOD"/>
</wsdl:operation>
<wsdl:operation name="NotifyPositionOpening">
<wsdl:input message="tns:NotifyPositionOpening"/>
<wsdl:output message="tns:AcknowledgePositionOpening"/>
<wsdl:fault name="NotifyPositionOpeningFault" message="tns:ConfirmBOD"/>
</wsdl:operation>
<wsdl:operation name="SyncPositionOpening">
<wsdl:input message="tns:SyncPositionOpening"/>
<wsdl:output message="tns:ConfirmBOD"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="PositionOpening_Binding" type="tns:PositionOpening_PortType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="ProcessPositionOpening">
<soap:operation soapAction="ProcessPositionOpening" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ProcessPositionOpeningFault">
<soap:fault name="ProcessPositionOpeningFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="CancelPositionOpening">
<soap:operation soapAction="CancelPositionOpening" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="CancelPositionOpeningFault">
<soap:fault name="CancelPositionOpeningFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="GetPositionOpening">
<soap:operation soapAction="GetPositionOpening" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="GetPositionOpeningFault">
<soap:fault name="GetPositionOpeningFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="ChangePositionOpening">
<soap:operation soapAction="ChangePositionOpening" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="ChangePositionOpeningFault">
<soap:fault name="ChangePositionOpeningFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="NotifyPositionOpening">
<soap:operation soapAction="NotifyPositionOpening" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="NotifyPositionOpeningFault">
<soap:fault name="NotifyPositionOpeningFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="SyncPositionOpening">
<soap:operation soapAction="SyncPositionOpening" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PositionOpening_Service">
<wsdl:port name="PositionOpening_Port" binding="tns:PositionOpening_Binding">
<soap:address location="http://www.hr-xml.org/3/ws/PositionOpening"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
